<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="myHeader">
    <title>Serving Web Content</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="spring boot leet code" name="description">
    <meta content="rt" name="author">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</div>
</body>
</html>

