<html xmlns:th="https://www.thymeleaf.org" lang="zh-CN">
<body>
<div th:fragment="myHeader">
    <title>Serving Web Content</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="spring boot leet code">
    <meta name="author" content="rt">
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</div>
</body>
</html>

