<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: myHeader"></div>
</head>
<body>
<div th:replace="fragments/nav :: myNav">
</div>
<main class="container" role="main">
    <h1>Reverse Integer</h1>
    <form action="#" method="post" th:action="@{/reverseint}">
        <div class="form-group">
            <label for="numberToReverse">Please input a number to reverse. </label>
            <input aria-describedby="emailHelp"
                   class="form-control col-md-3"
                   id="numberToReverse" th:name="num"
                   type="number">
            <small class="form-text text-muted" id="emailHelp">
                <code>-2<sup>31</sup> &lt;= x &lt;= 2<sup>31</sup> - 1</code>
            </small>
        </div>

        <button class="btn btn-primary" type="submit" value="Reverse">Reverse</button>
        <button class="btn" type="reset" value="Reset">Reset</button>


    </form>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert" th:default="0" th:text="${reverse}">
                0
            </div>
        </div>
    </div>

</main>
</body>
</html>
