<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="zh-CN">
<head>
    <div th:replace="fragments/head :: myHeader"></div>
</head>
<body>
<div th:replace="fragments/nav :: myNav">
</div>
<main role="main" class="container">
    <h1>LeetCode Problems</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Test</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a href="pages/reverseint.html" th:href="@{/reverseint}">Reverse Integer</a></td>
            <td>Code</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="pages/twosum.html" th:href="@{/twosum}">Two Sum</a></td>
            <td>Code</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><a href="pages/palindrome.html" th:href="@{/palindrome}">Palindrome</a></td>
            <td>Code</td>
        </tr>
        </tbody>
    </table>

</main><!-- /.container -->


</body>
</html>
